@page "/"

<h1>Michael D'Agostino</h1>

Hey there! I'm Michael D'Agostino, a student at FGCU currently living in Naples, Florida. I have an AA in my studies and I'm currently pursuing a degree in Software Engineering. I'm still learning the ins and outs of engineering, but I find myself having a lot of fun with what I do!

I'm interested in game programming and developing software that would be fun and interesting to play. Ideally, I' d like to find a job in a small tech firm and develop games as a hobby. The dream project is to develop a 2D fighting game that people would enjoy. I also have some skills in graphics designing and video editing, and I'm always looking to learn more.

I'm a gamer at heart with plenty of experience playing them, and I'm always happy to talk about them!

<SurveyPrompt Title="Do you like cats?" />

<Counter IncrementAmount="10" DecrementAmount="7" />
